---
import Layout from "@/layouts/Layout.astro"
import { getAllArticlesDetail, getArticleDetail } from "@/lib/client"

import { Icon } from "astro-icon"
import { applySyntaxHighlighting } from "@/utils/highlight"
import { applyWrapTableElement } from "@/utils/wrap_table"
import Ad from "@/components/Ad.astro"

export async function getStaticPaths() {
  const response = await getAllArticlesDetail({ fields: ["id"] })
  return response.map((content) => ({
    params: {
      articleId: content.id,
    },
  }))
}

const { articleId } = Astro.params
const articleDetail = await getArticleDetail(articleId!)

// TODO: context -> content移行までの仮措置
let articleContent = ""
if (articleDetail.context) {
  articleContent = await applySyntaxHighlighting(articleDetail.context)
  articleContent = applyWrapTableElement(articleContent)
} else if (articleDetail.content) {
  for (const content of articleDetail.content) {
    const fieldType = content.fieldId
    // TODO: もっと良いアクセス方法
    const contentData = content[fieldType]
    const highlightedData = await applySyntaxHighlighting(contentData ?? "")
    articleContent += applyWrapTableElement(highlightedData)
  }
}
---

<Layout
  pageName={articleDetail.title}
  description={articleContent}
  image={`/archive/ogp/${articleDetail.id}.webp`}
>
  <article data-pagefind-body>
    <h1>{articleDetail.title}</h1>
    <div class="flex flex-row-reverse items-center">
      {articleDetail.publishedAt?.split("T")[0] || ""}
      <Icon name="mdi:clock-outline" />
    </div>
    <hr class="my-4 bg-indigo-600 h-[2px]" />
    <div set:html={articleContent} />
    <Ad />
  </article>
</Layout>
