---
import type { GetStaticPathsOptions } from "astro"

import Layout from "@/layouts/Layout.astro"
import { getAllArticlesDetail } from "@/lib/client"
import type { ArticleApiSchema } from "@/types/api"
import Ad from "@/components/Ad.astro"
import ArticleCard from "@/components/ArticleCard.astro"
import PaginationButton from "@/components/PaginationButton.astro"

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const articlesApiData = await getAllArticlesDetail({
    fields: ["id", "eyecatch", "title", "publishedAt", "categories"],
    orders: "-publishedAt",
  })
  return paginate(articlesApiData, { pageSize: 6 })
}

const { page } = Astro.props
---

<Layout pageName="Archive">
  <main>
    <h2 class="text-2xl font-bold mb-4">記事一覧</h2>
    <div class="flex flex-row flex-wrap gap-6 justify-around">
      {
        page.data.map((content: ArticleApiSchema) => (
          <ArticleCard content={content} />
        ))
      }
    </div>
    <Ad />
    <PaginationButton
      length={page.lastPage}
      currentPage={page.currentPage}
      pageRoute="archive"
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
    />
  </main>
</Layout>
